<!--The content below is only a placeholder and can be replaced.-->
<!--<div style="text-align:center">-->
  <!--<h1>-->
    <!--Welcome to {{title}}!-->
  <!--</h1>-->
<!--</div>-->
<!--<app-home></app-home>-->
<!--<h2 class="header">
  <a routerLink="home" routerLinkActive="active">Home</a>
  <a routerLink="/news" routerLinkActive="active">News</a>
  <a routerLink="/cart" routerLinkActive="active">Cart</a>
  <a routerLink="/shop" routerLinkActive="active">Shop</a>
  <button (click)="goShop(111, 222)">get Shop</button>
  <button (click)="goShop('aaa', 'bbb')">get Shop</button>
</h2>-->

<h2 class="header">
  <a routerLink="home" routerLinkActive="active">Home</a>
  <a routerLink="/shop" routerLinkActive="active">Shop</a>
</h2>
<router-outlet></router-outlet>

